Since FY2019 the NASA Ames PAH IR Spectroscopic Database is being supported through a directed Work Package at NASA Ames titled: \\textit{``Laboratory Astrophysics – The NASA Ames PAH IR Spectroscopic Database''}.